In [55]:
import csv
import agate

In [56]:
tester = agate.TypeTester()

In [57]:
standards = agate.Table.from_csv('english.csv', tester)

In [66]:
six_years_not_met = standards.where(lambda column: column['CONSECUTIVE_YEARS_NOT_MET'] == 6)
six_years_not_met.print_table()

|-----------------+-----------------+--------------------------+-----------+-----------------+-----------+-----------+-----------+----------+---------------------------+----------------------------------------|
|  YEAR_TITLE_III | COUNTY_DISTRICT | COUNTY_DISTRICT_NAME     | TITLE_III | YEAR_ASSESSMENT | AMAO1_MET | AMAO2_MET | AMAO3_MET | AMAO_MET | CONSECUTIVE_YEARS_NOT_MET | TITLE_III_STATUS                       |
|-----------------+-----------------+--------------------------+-----------+-----------------+-----------+-----------+-----------+----------+---------------------------+----------------------------------------|
|           2,014 |           5,120 | WHEATON R-III            |      True |           2,013 | MET       | MET       | NOT MET   | NOT MET  |                         6 | Title III District Improvement Year 4  |
|           2,014 |          10,093 | COLUMBIA 93              |      True |           2,013 | MET       | MET       | NOT MET   | NOT MET  |                         6 | Title III District Improvement Year 4  |
|           2,014 |          15,002 | CAMDENTON R-III          |      True |           2,013 | MET       | MET       | NOT MET   | NOT MET  |                         6 | Title III District Improvement Year 4  |
|           2,014 |          16,096 | CAPE GIRARDEAU 63        |      True |           2,013 | MET       | MET       | NOT MET   | NOT MET  |                         6 | Title III District Improvement Year 4  |
|           2,014 |          24,093 | NORTH KANSAS CITY 74     |      True |           2,013 | MET       | MET       | NOT MET   | NOT MET  |                         6 | Title III District Improvement Year 4  |
|           2,014 |          26,006 | JEFFERSON CITY           |      True |           2,013 | MET       | MET       | NOT MET   | NOT MET  |                         6 | Title III District Improvement Year 4  |
|           2,014 |          35,098 | SENATH-HORNERSVILLE C-8  |      True |           2,013 | MET       | NOT MET   | NOT MET   | NOT MET  |                         6 | Title III District Improvement Year 4  |
|           2,014 |          39,141 | SPRINGFIELD R-XII        |      True |           2,013 | MET       | MET       | NOT MET   | NOT MET  |                         6 | Title III District Improvement Year 4  |
|           2,014 |          46,131 | WILLOW SPRINGS R-IV      |      True |           2,013 | MET       | NOT MET   | NOT MET   | NOT MET  |                         6 | Title III District Improvement Year 4  |
|           2,014 |          48,068 | BLUE SPRINGS R-IV        |      True |           2,013 | MET       | MET       | NOT MET   | NOT MET  |                         6 | Title III District Improvement Year 4  |
|           2,014 |          48,072 | HICKMAN MILLS C-1        |      True |           2,013 | MET       | MET       | NOT MET   | NOT MET  |                         6 | Title III District Improvement Year 4  |
|           2,014 |          48,073 | RAYTOWN C-2              |      True |           2,013 | MET       | MET       | NOT MET   | NOT MET  |                         6 | Title III District Improvement Year 4  |
|           2,014 |          48,074 | GRANDVIEW C-4            |      True |           2,013 | MET       | MET       | NOT MET   | NOT MET  |                         6 | Title III District Improvement Year 4  |
|           2,014 |          48,077 | INDEPENDENCE 30          |      True |           2,013 | MET       | MET       | NOT MET   | NOT MET  |                         6 | Title III District Improvement Year 4  |
|           2,014 |          48,078 | KANSAS CITY 33           |      True |           2,013 | MET       | NOT MET   | NOT MET   | NOT MET  |                         6 | Title III District Improvement Year 4  |
|           2,014 |          48,912 | DELLA LAMB ELEM.         |      True |           2,013 | MET       | NOT MET   | NOT MET   | NOT MET  |                         6 | Title III District Improvement Year 4  |
|           2,014 |          48,915 | SCUOLA VITA NUOVA        |      True |           2,013 | MET       | NOT MET   | NOT MET   | NOT MET  |                         6 | Title III District Improvement Year 4  |
|           2,014 |          49,142 | CARTHAGE R-IX            |      True |           2,013 | MET       | MET       | NOT MET   | NOT MET  |                         6 | Title III District Improvement Year 4  |
|           2,014 |          49,148 | JOPLIN SCHOOLS           |      True |           2,013 | MET       | MET       | NOT MET   | NOT MET  |                         6 | Title III District Improvement Year 4  |
|           2,014 |          57,003 | TROY R-III               |      True |           2,013 | MET       | MET       | NOT MET   | NOT MET  |                         6 | Title III District Improvement Year 4  |
|           2,014 |          60,077 | MCDONALD CO. R-I         |      True |           2,013 | MET       | MET       | NOT MET   | NOT MET  |                         6 | Title III District Improvement Year 4  |
|           2,014 |          68,070 | MONITEAU CO. R-I         |      True |           2,013 | MET       | NOT MET   | NOT MET   | NOT MET  |                         6 | Title III District Improvement Year 4  |
|           2,014 |          73,108 | NEOSHO R-V               |      True |           2,013 | MET       | MET       | NOT MET   | NOT MET  |                         6 | Title III District Improvement Year 4  |
|           2,014 |          80,118 | LA MONTE R-IV            |      True |           2,013 | MET       | NOT MET   | NOT MET   | NOT MET  |                         6 | Title III District Improvement Year 4  |
|           2,014 |          80,125 | SEDALIA 200              |      True |           2,013 | MET       | MET       | NOT MET   | NOT MET  |                         6 | Title III District Improvement Year 4  |
|           2,014 |          92,087 | FT. ZUMWALT R-II         |      True |           2,013 | MET       | MET       | NOT MET   | NOT MET  |                         6 | Title III District Improvement Year 4  |
|           2,014 |          92,090 | ST. CHARLES R-VI         |      True |           2,013 | MET       | MET       | NOT MET   | NOT MET  |                         6 | Title III District Improvement Year 4  |
|           2,014 |          96,088 | HAZELWOOD                |      True |           2,013 | MET       | MET       | NOT MET   | NOT MET  |                         6 | Title III District Improvement Year 4  |
|           2,014 |          96,089 | FERGUSON-FLORISSANT R-II |      True |           2,013 | MET       | MET       | NOT MET   | NOT MET  |                         6 | Title III District Improvement Year 4  |
|           2,014 |          96,098 | AFFTON 101               |      True |           2,013 | MET       | MET       | NOT MET   | NOT MET  |                         6 | Title III District Improvement Year 4  |
|           2,014 |          96,103 | HANCOCK PLACE            |      True |           2,013 | NOT MET   | MET       | NOT MET   | NOT MET  |                         6 | Title III District Improvement Year 4  |
|           2,014 |          96,110 | RITENOUR                 |      True |           2,013 | MET       | NOT MET   | NOT MET   | NOT MET  |                         6 | Title III District Improvement Year 4  |
|           2,014 |          97,129 | MARSHALL                 |      True |           2,013 | MET       | MET       | NOT MET   | NOT MET  |                         6 | Title III District Improvement Year 4  |
|           2,014 |         105,124 | MILAN C-2                |      True |           2,013 | MET       | MET       | NOT MET   | NOT MET  |                         6 | Title III District Improvement Year 4  |
|           2,014 |         115,115 | ST. LOUIS CITY           |      True |           2,013 | MET       | MET       | NOT MET   | NOT MET  |                         6 | Title III District Improvement Year 4  |
|           2,014 |         115,903 | ST. LOUIS CHARTER SCHOOL |      True |           2,013 | MET       | NOT MET   | NOT MET   | NOT MET  |                         6 | Title III District Improvement Year 4  |
|           2,014 |         115,906 | CONFLUENCE ACADEMIES     |      True |           2,013 | MET       | MET       | NOT MET   | NOT MET  |                         6 | Title III District Improvement Year 4  |
|           2,015 |           4,110 | MEXICO 59                |      True |           2,014 | MET       | NOT MET   | NOT MET   | NOT MET  |                         6 | Title III District Improvement Year 4  |
|           2,015 |           5,124 | PURDY R-II               |      True |           2,014 | MET       | NOT MET   | NOT MET   | NOT MET  |                         6 | Title III District Improvement Year 4  |
|           2,015 |          11,082 | ST. JOSEPH               |      True |           2,014 | MET       | MET       | NOT MET   | NOT MET  |                         6 | Title III District Improvement Year 4  |
|           2,015 |          24,090 | LIBERTY 53               |      True |           2,014 | MET       | MET       | NOT MET   | NOT MET  |                         6 | Title III District Improvement Year 4  |
|           2,015 |          39,133 | WILLARD R-II             |      True |           2,014 | MET       | MET       | NOT MET   | NOT MET  |                         6 | Title III District Improvement Year 4  |
|           2,015 |          48,071 | LEE'S SUMMIT R-VII       |      True |           2,014 | MET       | MET       | NOT MET   | NOT MET  |                         6 | Title III District Improvement Year 4  |
|           2,015 |          50,012 | FOX C-6                  |      True |           2,014 | MET       | MET       | NOT MET   | NOT MET  |                         6 | Title III District Improvement Year 4  |
|           2,015 |          96,099 | BAYLESS                  |      True |           2,014 | MET       | NOT MET   | NOT MET   | NOT MET  |                         6 | Title III District Improvement Year 4  |
|-----------------+-----------------+--------------------------+-----------+-----------------+-----------+-----------+-----------+----------+---------------------------+----------------------------------------|

In [65]:
no_sanctions = standards.where(lambda column: column['TITLE_III_STATUS'] == 'Title III No Sanctions').where(lambda column: column['YEAR_TITLE_III'] == 2014)
no_sanctions.print_table()

|-----------------+-----------------+-------------------------+-----------+-----------------+-----------+-----------+-----------+----------+---------------------------+-------------------------|
|  YEAR_TITLE_III | COUNTY_DISTRICT | COUNTY_DISTRICT_NAME    | TITLE_III | YEAR_ASSESSMENT | AMAO1_MET | AMAO2_MET | AMAO3_MET | AMAO_MET | CONSECUTIVE_YEARS_NOT_MET | TITLE_III_STATUS        |
|-----------------+-----------------+-------------------------+-----------+-----------------+-----------+-----------+-----------+----------+---------------------------+-------------------------|
|           2,014 |          48,902 | ALTA VISTA CHARTER SCH. |      True |           2,013 | MET       | MET       |           | MET      |                         0 | Title III No Sanctions  |
|           2,014 |          96,102 | CLAYTON                 |      True |           2,013 | MET       | MET       | MET       | MET      |                         0 | Title III No Sanctions  |
|-----------------+-----------------+-------------------------+-----------+-----------------+-----------+-----------+-----------+----------+---------------------------+-------------------------|

In [64]:
avg_years_not_met_consecutively = standards.aggregate(agate.Mean('CONSECUTIVE_YEARS_NOT_MET'))

AttributeError: 'function' object has no attribute 'allow_tableset_proxy'